/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: grey;
  background-attachment: display;
  color: #1e272e;
  color: #fff;
  font-size: 16px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  list-style: none;
}
.header{
  margin: 0px;
  height: 100px;
  width: 100%;
  background-color: #080808;
  align-items: center;
}
.stack{
padding-top: 20px;
margin-left: 35%;
} 
.title{
  color: #ffffff;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size:20px;
}
.container {
  width: 98%;
  margin: 10px;
}

/* Navigation */
.nav-main {
  margin: 0px,0px;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 20px 20px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: #ffffff;
}

.nav-brand {
  width: 150px;
  height: 70px;
/*  border-radius: 7px;*/
}

/* Navbar Left */
.nav-main ul {
  display: flex;
}

.nav-main ul li {
  padding: 10px;
}

.nav-main ul li a {
  padding: 2px;
  color: #000000;
  margin-left: 20px;
}

.nav-main ul li a:hover {
  border-bottom: 2px solid rgb(11, 11, 11);
}

.nav-main ul.nav-menu {
  flex: 1;
  margin-left: 80px;
}

hr {
  margin: 10px 0;
}

/* Responsive Button */
.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: 2;
  display: none;
}

/* SHOWCASE */



.showcase {
  width: 100%;
  height: 550px;
  background: url("imagenes/floraprincipal.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  color: #fff;
  border-radius: 5px;
}

.showcase h2,
.showcase p {
  width: 60%;
  margin-bottom: 50px;
}

.showcase .btn {
  margin-top: 20px;
}

/* News Cards */
.news-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 70px 0px;
}
.card{
  background: #ffffff;
  border-radius:5px;
  width: 280px;
  height: 400px;
}

.news-cards img {
  padding:5px 5px 5px 5px;
  width: 100%;
  height: 180px;
  border-radius: 10px;
}

.news-cards h3 {
  font-size: 20px;
  margin: 10px 0;
  padding-left: 10px;
  color:#000000;
}

.news-cards p{
  padding-left: 8px;
  color:#000000;
}

/* CARDS BANNER ONE */
.cards-banner-one {
  width: 100%;
  height: 350px;
  background:black;
  margin-bottom: 40px;
}

.cards-banner-one .content {
  width: 80%;
  padding: 30px 0px 0px 30px;
  color: #fff;
}

.cards-banner-one p,
.cards-banner-two p {
  margin: 10px 0 20px 0;
}

/* Follow */
.social {
  margin: 50px;
}
.social p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  margin: 0 30px;
}

.links a i {
  font-size: 3rem;
}

/* Links */
.footer-links {
  background: #0e0e0e;
  color: #ffffff;
  font-size: 12px;
  padding: 35px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.footer-container ul {
  margin: 0 auto;
}

.footer-links li {
  line-height: 2.8;
}

.footer {
  background: #0e0e0e;
  color: #ffffff;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px;
}

/* Mobil */
@media (max-width: 700px) {
  .menu-btn {
    display: block;
  }

  .menu-btn:hover {
    opacity: 0.5;
  }

  .nav-main ul.nav-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #2f3640;
    width: 50%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-400px);
    transition: transform 0.5s ease-in-out;
  }

  .nav-main ul.nav-menu li {
    padding: 20px;
    border-bottom: #ccc solid 1px;
    font-size: 14px;
  }
  .nav-main ul.nav-menu li:last-child {
    border-bottom: 0;
  }

  .nav-main ul.nav-menu.show {
    transform: translateX(-20px);
  }

  .nav-main ul.nav-menu-right {
    margin-right: 50px;
  }

  .news-cards {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 50px;
  }

  .cards-banner-one .content,
  .cards-banner-two .content {
    width: 80%;
  }

  .footer-links .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .news-cards {
    grid-template-columns: 1fr;
  }

  .cards-banner-one .content,
  .cards-banner-two .content {
    width: 100%;
    padding: 60px 20px;
  }
  .footer-links .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-links .footer-container ul {
    text-align: center;
  }
}
